@import url('bootstrap');
@import url('bootstrap-icons');

main {
    height: 100vh;
}

.card {
    position: absolute;
    top: 40%;
    left: 40%;
    min-width: 800px;
    min-height: 300px;
    margin-top: -100px;
    margin-left: -150px;
    border-radius: 0;
}