@import url('bootstrap');
@import url('bootstrap-icons');

main {
    height: 100vh;
    background-image: linear-gradient(pink, rgb(250, 126, 250));
}

.card {
    position: absolute;
    top: 40%;
    left: 35%;
    width: 900px;
    min-height: 300px;
    margin-top: -100px;
    margin-left: -150px;
    border-radius: 0;
    border: transparent;
    background-color: rgb(253, 95, 206);
    color: white;
}