@import url('bootstrap');
@import url('bootstrap-icons');

main {
    height: 100vh;
}

.card {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 300px;
    min-height: 200px;
    margin-top: -100px;
    margin-left: -150px;
}